<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${pageTitle != null ? pageTitle : 'Bibliothèque Numérique'}">Bibliothèque Numérique</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap-icons.css}">

  <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.carousel.min.css}">
  <link rel="stylesheet" th:href="@{/css/owl-carousel/owl.theme.default.min.css}">
  
  
    <script th:src="@{/js/jquery.min.js}" ></script>
  
  <!-- Owl Carousel JS -->
  <script th:src="@{/js/owl-carousel/owl.carousel.min.js}"></script>
    
    <link rel="stylesheet" th:href="@{/css/custom.css}">
</head>
<body>
    <header>
        <div th:replace="~{layouts/navbar :: navbar}"></div>
    </header>
    

        <div layout:fragment="slider">
        </div>
    <div class="container my-4">
        <div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
            <span th:text="${successMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
            <span th:text="${errorMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <div th:if="${infoMessage}" class="alert alert-info alert-dismissible fade show" role="alert">
            <span th:text="${infoMessage}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

        <main layout:fragment="content">ba3boola
        </main>

    </div>

    <div th:replace="~{layouts/footer :: footer}"></div>

    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}" ></script>
    <script th:src="@{/js/just-validate.production.min.js}" ></script>
    
    <!-- endroit pour page-specific scripts -->
    <th:block th:replace="~{:: scripts} ?: ~{}" th:remove="tag"></th:block>
    
</body>
</html>