<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">

<head>
    <th:block th:fragment="title">
        <title>Accueil | Bibliothèque Numérique</title>
    </th:block>
    <div th:replace="~{fragments/carousel_libs :: carousel_libs}"></div>
</head>

<body>
     <div layout:fragment="slider">
            <div th:replace="~{partials/book_slider :: book_slider(${livresSlider}, 'bookSlider', '/images/motif-gray.jpeg')}"></div>
        </div>
    <main layout:fragment="content">
        <div class="container">
            <!-- <div class="row">
                <div class="col-12">
                    <div th:replace="~{partials/book_carousel :: book_carousel(${slidersLivres}, 'Nouveautés', 'main-slider', 3000)}"></div>
                </div>
            </div>
             -->
            <div class="row" th:each="section : ${sectionsAccueil}">
                <div class="col-12">
                    <div th:with="livresVar=${'livresSection' + section.id}" 
                         th:replace="~{partials/book_carousel :: book_carousel(${section.getCategorie().getLivres()}, ${section.titre}, ${'section-carousel-' + section.id}, ${section.intervalleDefilement})}"></div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>