<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/base}">

<head>
    <th:block th:fragment="title">
        <title>Connexion | Bibliothèque Numérique</title>
    </th:block>
  
</head>

<body>
    <main layout:fragment="content">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center mb-4">index</h1>
                
            </div>
        </div>
    </main>
    
</body>

</html>